exportPattern("^[[:alpha:]]+")

useDynLib(DeconWK, .registration = TRUE, .fixes = ".DCWK_")

importFrom(kernlab, ipop)
importFrom(ks, Hpi)
importFrom(mvtnorm, dmvnorm)
importFrom(stats, bw.SJ)
importFrom(utils, packageDescription)
